* {
  transition: .25s;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #FAFAFA;
}

body h1 {
  margin-bottom: 0;
}

body p {
  margin-top: 0;
}

body .flex {
  display: flex;
}

body .flex.row {
  flex-direction: row;
  justify-content: center;
}

body .flex .grow {
  flex-grow: 1;
}

body .hidden {
  opacity: 0;
}

body a.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #E0E0E0;
  color: #616161;
  padding: .25em;
  border-radius: .25em;
  font-size: .8em;
  margin: 0 .25em;
}

body .toggle {
  background-color: #E0E0E0;
  padding: .25em;
  border-radius: .25em;
  margin: 0 .25em;
  display: flex;
  flex-direction: row;
}

body .toggle > span {
  margin: 0 .25em;
  color: #616161;
}

body table {
  font-family: 'Courier New', Courier, monospace;
}

body table thead {
  font-weight: bold;
}

body table td {
  padding: 0 .5em;
  white-space: nowrap;
}

body table td:nth-child(1) {
  text-align: right;
}

body table td:nth-child(4) {
  text-align: right;
}

body table td a {
  display: inline-block;
  text-decoration: none;
}

body table td a:hover {
  text-decoration: underline;
}

body ul {
  list-style-type: none;
  display: block;
  padding: 0;
}

body ul.datalist {
  display: block;
}

body ul.datalist form {
  display: flex;
  flex-direction: row;
  max-width: 60em;
}

body ul.datalist form > * {
  display: block;
  padding: .5em;
}

body ul.datalist form input[type=text] {
  flex-grow: 1;
  background-color: transparent;
  border-radius: .25em;
}

body ul.datalist form input[type=text][name=snowflake] {
  max-width: 12em;
}

body ul.datalist form button.btn {
  background-color: transparent;
  border-radius: .25em;
  cursor: pointer;
}

body.dark {
  background-color: #212121;
  color: #9E9E9E;
}

body.dark a.btn {
  background-color: #616161;
  color: #9E9E9E;
}

body.dark .toggle {
  background-color: #616161;
}

body.dark .toggle > span {
  color: #9E9E9E;
}

body.dark .toggle x-switch label span {
  background-color: #9E9E9E;
}

body.dark .toggle x-switch label span::before {
  background-color: #616161;
}

body.dark table td a {
  color: #E0E0E0;
}

body.dark ul.datalist form input[type=text] {
  color: #E0E0E0;
}

body.dark ul.datalist form button.btn {
  color: #E0E0E0;
}

body.grid table {
  display: flex;
}

body.grid table thead {
  display: none;
}

body.grid table tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

body.grid table tbody tr {
  display: flex;
  flex-direction: column;
  border: 5px solid #E0E0E0;
  margin: .5em;
  max-width: 13em;
}

body.grid table tbody tr td {
  text-align: left;
}

body.grid table tbody tr td a {
  max-width: 12em;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
