//
//
* {
    transition: .25s;
}
body {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
    background-color: #FAFAFA;

    h1 {
        margin-bottom: 0;
    }
    p {
        margin-top: 0;
    }
    .flex {
        display: flex;

        &.row {
            flex-direction: row;
            justify-content: center;
        }
        .grow {
            flex-grow: 1;
        }
    }
    .hidden {
        opacity: 0;
    }
    a {
        &.btn {
            display: inline-block;
            text-decoration: none;
            background-color: #E0E0E0;
            color: #616161;
            padding: .25em;
            border-radius: .25em;
            font-size: .8em;
            margin: 0 .25em;

            &:hover {
            }
        }
    }
    .toggle {
        background-color: #E0E0E0;
        padding: .25em;
        border-radius: .25em;
        margin: 0 .25em;
        display: flex;
        flex-direction: row;
        align-items: center;

        > span {
            margin: 0 .25em;
            color: #616161;
        }
    }
    table {
        font-family: 'Courier New', 'Courier', monospace;

        thead {
            font-weight: bold;
        }
        td {
            padding: 0 .5em;
            white-space: nowrap;

            &:nth-child(1) {
                text-align: right;
            }
            &:nth-child(4) {
                text-align: right;
            }
            a {
                display: inline-block;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    ul {
        list-style-type: none;
        display: block;
        padding: 0;

        &.datalist {
            display: block;

            form {
                display: flex;
                flex-direction: row;
                max-width: 80em;

                > * {
                    display: block;
                    padding: .5em;
                }
                input {
                    &[type=text] {
                        flex-grow: 1;
                        background-color: transparent;
                        border-radius: .25em;

                        &:focus {
                        }
                        &[name=snowflake] {
                            max-width: 12em;
                        }
                        &[name=name] {
                            max-width: 15em;
                        }
                    }
                }
                button {
                    &.btn {
                        background-color: transparent;
                        border-radius: .25em;
                        cursor: pointer;

                        &:hover {
                        }
                        &:active {
                        }
                    }
                }
            }
        }
    }

    &.dark {
        background-color: #212121;
        color: #9E9E9E;

        a.btn {
            background-color: #616161;
            color: #9E9E9E;
        }
        .toggle {
            background-color: #616161;

            > span {
                color: #9E9E9E;
            }
            x-switch label span{
                background-color: #9E9E9E;

                &::before {
                    background-color: #616161;
                }
            }
        }
        table td a {
            color: #E0E0E0;
        }
        ul.datalist {
            form {
                input[type=text] {
                    color: #E0E0E0;
                }
                button.btn {
                    color: #E0E0E0;
                }
            }
        }
    }

    &.grid {
        table {
            display: flex;

            thead {
                display: none;
            }
            tbody {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                tr {
                    display: flex;
                    flex-direction: column;
                    border: 5px solid #E0E0E0;
                    margin: .5em;
                    max-width: 13em;

                    td {
                        text-align: left;

                        a {
                            max-width: 12em;
                            text-overflow: ellipsis;
                            overflow-x: hidden;
                        }
                    }
                }
            }
        }
    }
}
