# Golang CircleCI 2.0 configuration file
# See https://circleci.com/docs/2.0/language-go/
version: 2
jobs:
  build:
    working_directory: /go/src/github.com/nektro/andesite
    docker:
      - image: circleci/golang:1.9
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: go test -v ./...
      - run: ./scripts/build_all.sh

      - store_artifacts:
          path: ./bin/
