<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Access Denied</title>
        <link rel="stylesheet" href="/assets/css/style.min.css">
    </head>
    <body>
        <h1>403 Forbidden</h1>
        <p>{{denial_message}}</p>
        {{#if need_login}}
        <p>Please <a href="/login">Log In</a>.</p>
        {{/if}}
    </body>
</html>
