<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>File Search</title>
        <!---->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.css" integrity="sha256-S4n5rcKkPwT9YZGXPue8OorJ7GCPxBA5o/Z0ALWXyHs=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/file-icon-vectors@1.0.0/dist/file-icon-square-o.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
        <link rel="stylesheet" href="style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.7.5/semantic.min.js" integrity="sha256-x9fzgXT3ttK2cZF12FIafkDJzEqqLnaWcchT+Y/plJ4=" crossorigin="anonymous"></script>
        <script src="https://semantic-ui.com/javascript/library/tablesort.js"></script>
        <!---->
        <style>
            body > div { margin: 1em; }
            .ui.search > input[type=text] { display: block; width: 100%; }
            .ui.search > .results { width: 100%; }
        </style>
        <script>
            $(document).ready(function() {
                $(".ui.search").search({
                    apiSettings: {
                        url: "./api/search?q={query}",
                    },
                    fields: {
                        results: "results",
                        title: "name",
                        description: "path",
                    },
                    maxResults: 25,
                    showNoResults: true,
                });
            });
        </script>
    </head>
    <body class="page-search">
        <div class="ui main menu">
            <div class="header item">Welcome, {{user.Name}}@{{user.Provider}}</div>
            <div class="item"><a href="./files/">Back to Files</a></div>
            {{#if admin}}
            <div class="item"><a href="{{base}}admin">Admin Panel</a></div>
            {{/if}}
            <div class="right item">Powered by&nbsp;<a href="https://github.com/nektro/andesite" target="_blank">Andesite</a></div>
        </div>
        <div>
            <h1 class="ui header"><i class="search icon"></i> Search</h1>
            <div class="ui divider"></div>
            <div class="ui search">
                <input class="prompt" type="text" placeholder="File search...">
                <div class="results"></div>
            </div>
        </div>
    </body>
</html>
